/* wrapper */

	#wrapper {
		opacity: 1 !important;
	}

/* edit: removed overlay 

	#overlay {
		opacity: 1 !important;
	} */

/* header */

	#header {
		opacity: 1 !important;
	}

		#header nav li {
			opacity: 1 !important;
		}