<!DOCTYPE html>
<html lang = "en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset = "utf-8">
    {% if page.mathjax %}
    <script>
    window.MathJax = {
        tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']]
        }
    };
    </script>
    <script id = "MathJax-script" async
    src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% endif %}
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    {% if page.apple_mobile_app %}
        <meta name = "apple-mobile-web-app-capable" content = "yes">
    {% endif %}
    <meta name = "keywords" content = "Francesco Caporali, Princeton ORFE, probability, machine learning, optimization">
    <meta name = "author" content = "Francesco Caporali">
    {% if page.description %}
        {% assign desc = page.description %}
    {% else %}
        {% assign desc = site.description %}
    {% endif %}
    {% if page.url %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign url = site.url | append: site.baseurl %}
    {% endif %}
    <meta name = "description" content = "{{ desc }}">
    <link href = 'https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel = 'stylesheet' type = 'text/css'>
    <link rel = "stylesheet" href = "{{ site.baseurl }}/css/main.css">
    {% if page.apple_touch_icon %}
        <link rel = "apple-touch-icon" sizes = "180x180" href = "{{ site.baseurl }}{{ page.apple_touch_icon }}">
    {% endif %}
    <meta property = "og:description" content = "{{ desc }}">
    <meta property = "og:title" content = "{{ site.title }}">
    <meta property = "og:url" content = "{{ url }}">
    <meta property = "og:type" content = "article">
    <meta name = "twitter:card" content = "summary">
    <meta name = "twitter:title" content = "{{ site.title }}">
    <meta name = "twitter:description" content = "{{ desc }}">
    <meta name = "twitter:url" content = "{{ url }}">
    <meta name = "twitter:image" content = "{{ site.profile_picture }}">
</head>
<body{% if page.body_class %} class = "{{ page.body_class }}"{% endif %}>
    <div class = "wrapper">
        <div class = "navbar container">
            {% assign author_name = page.author_name | default: site.title %}
            <a id = "author-name" class = "alignable pull-left" href = "{{ site.url }}{{ site.baseurl }}">{{ author_name }}</a>
            {% unless page.show_nav == false %}
                <ul id = "navlist" class = "alignable pull-right navbar-ul">
                    {% if page.header_download %}
                        <li id = "export-item" class = "alignable pull-left nav-list header-download"><a id = "export-data" href = "#" aria-label = "download data.json" title = "download all layouts and notes as data.json">↓</a> /</li>
                    {% endif %}
                    {% assign nav_items = page.nav | default: site.nav %}
                    {% for x in nav_items %}
                        {% if x.name == "Resume" %}
                            <li class = "alignable pull-left nav-list"><a target = "_blank" href = "{{ x.link }}">{{ x.name }}</a>
                        {% else %}
                            <li class = "alignable pull-left nav-list"><a href = "{{ x.link }}">{{ x.name }}</a>
                        {% endif %}
                        {% if forloop.last == false %}
                            /
                        {% endif %}
                            </li>
                    {% endfor %}
                </ul>
            {% endunless %}
        </div>
        <hr>
        <div class = "container content">
                {{ content }}
                {% if site.footer == true and page.show_footer != false %}
                    <hr />
                    <p style = "text-align: center; margin-bottom: 10px">
                    {% if page.link_footer == false %}
                        <small> Last updated: {{ site.time | date: "%B %d, %Y" }} </small>
                    {% else %}
                        <a href = "{{ site.footer_url }}" style = "color: black">
                            <small> Last updated: {{ site.time | date: "%B %d, %Y" }} </small>
                        </a>
                    {% endif %}
                    </p>
                {% endif %}
            </div>
    </div>
</body>
