<!DOCTYPE html>
<html lang = "en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset = "utf-8">
    <script>
    window.MathJax = {
        tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']]
        }
    };
    </script>
    <script id = "MathJax-script" async
    src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "keywords" content = "Francesco Caporali, Princeton ORFE, probability, machine learning, optimization">
    <meta name = "author" content = "Francesco Caporali">
    {% if page.description %}
        {% assign desc = page.description %}
    {% else %}
        {% assign desc = site.description %}
    {% endif %}
    {% if page.url %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign url = site.url | append: site.baseurl %}
    {% endif %}
    <meta name = "description" content = "{{ desc }}">
    <link href = 'https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel = 'stylesheet' type = 'text/css'>
    <link rel = "stylesheet" href = "{{ site.baseurl }}/css/main.css">
    {% if page.apple_touch_icon %}
        <link rel = "apple-touch-icon" sizes = "180x180" href = "{{ site.baseurl }}{{ page.apple_touch_icon }}">
    {% endif %}
    {% if site.favicon %}
        <link rel = "icon" type = "image/ico" href = "{{ site.favicon_location }}">
        <link rel = "shortcut icon" type = "image/ico" href = "{{ site.favicon_location }}">
    {% endif %}
    {% if site.twitter_username %}
        <link rel = "author" href = "https://twitter.com/{{ site.twitter_username }}">
    {% endif %}
    <!-- Facebook Open Graph -->
    <meta property = "og:description" content = "{{ desc }}">
    <meta property = "og:title" content = "{{ site.title }}">
    <meta property = "og:url" content = "{{ url }}">
    <meta property = "og:type" content = "article">
    {% if site.og_image %}
        <meta property = "og:image" content = "{{ site.og_image }}">
    {% endif %}
    {% if site.facebook_id %}
        <meta name = "fb:admins" content = "{{ site.facebook_id }}">
    {% endif %}
    <!-- Twitter -->
    <meta name = "twitter:card" content = "summary">
    <meta name = "twitter:title" content = "{{ site.title }}">
    <meta name = "twitter:description" content = "{{ desc }}">
    <meta name = "twitter:url" content = "{{ url }}">
    {% if site.twitter_image %}
        <meta name = "twitter:image" content = "{{ site.twitter_image }}">
    {% else %}
        <meta name = "twitter:image" content = "{{ site.profile_picture }}">
    {% endif %}
</head>
<body>
    <div class = "wrapper">
        <div class = "navbar container">
            {% if site.ins_logo %}
                <img id = "ins-logo" src = "{{ site.ins_logo }}" />
            {% endif %}
            {% assign author_name = page.author_name | default: site.title %}
            <a id = "author-name" class = "alignable pull-left" href = "{{ site.url }}{{ site.baseurl }}">{{ author_name }}</a>
            {% unless page.show_nav == false %}
                <ul id = "navlist" class = "alignable pull-right navbar-ul">
                    {% for x in site.nav %}
                        {% if x.name == "Resume" %}
                            <li class = "alignable pull-left nav-list"><a target = "_blank" href = "{{ x.link }}">{{ x.name }}</a>
                        {% else %}
                            <li class = "alignable pull-left nav-list"><a href = "{{ x.link }}">{{ x.name }}</a>
                        {% endif %}
                        {% if forloop.last == false %}
                            /
                        {% endif %}
                            </li>
                    {% endfor %}
                </ul>
            {% endunless %}
        </div>
        <div style = "clear:both"></div>
        <hr>
        <div class = "container content">
                {{ content }}
                {% if site.footer == true %}
                    <hr />
                    <p style = "text-align: center; margin-bottom: 10px">
                    {% if page.link_footer == false %}
                        <small> Last updated: {{ site.time | date: "%B %d, %Y" }} </small>
                    {% else %}
                        <a href = "{{ site.footer_url }}" style = "color: black">
                            <small> Last updated: {{ site.time | date: "%B %d, %Y" }} </small>
                        </a>
                    {% endif %}
                    </p>
                {% endif %}
            </div>
    </div>
</body>
